.banner-card {
  padding: 50px;
  margin: 0 auto;
  color: white;
}

.banner-card h1 {
  line-height: 2;
  margin:0;
  text-shadow: 2px 2px 30px #000000;
}

.banner-card h2 {
  margin:0;
  text-shadow: 2px 2px 30px #000000;
  font-weight: lighter;
}

.how-we-work-card {
  margin-top: 70px;
  margin-bottom: 150px;
}

.how-we-work-card h2 {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  color: #496F98;
}

.container-for-cards {
  display: flex;
}

.card {
  width: 250px;
  border-radius: 25px;
  box-shadow: 3px 4px 14px -2px rgba(143,143,143,1);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: baseline
}

.card:hover {
  transform: scale(1.1);
  transition: 0.4s;
}


.card img {
  width: 200px;
  padding: 10px;
}

.card h3 {
color: #496F98;
font-weight: bold;
}

#design {
  margin-top: 16px;
}

#promote {
  margin-bottom: 0px;
}

#promote-img {
  padding-bottom: 31px;
}

.card p {
color: #496F98;
font-weight: lighter;
padding-bottom:30px;
padding-left:30px;
padding-right:30px;
text-align:center;
}

.design-card {
  margin: 20px auto;
}

.footer-card {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.footer-card p {
color: #797A7A;
}



